/*
	Theme Name: Shift Architecture
	Theme URI: http://www.shiftarchitecture.ca
	Description: Theme designed by Christine Rondeau and Cameron Cavers based on a design by Mizu Creative
	Version: 1.0
	Author: Christine Rondeau
	Author URI: http://www.bluelimemedia.com
*/
/*----Global Reset Courtesy of Eric Meyer----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {vertical-align:top;}
.hide {display:none;}
a img {border:0;}

/* Main Layout
-----------------------------------------------*/
body {
	width: 960px; height:100%;
	margin: 0px auto 0px auto;  padding:0;
	background:url(images/bg.png);
	color: #403c35;
	font: normal 12px/16px Arial, helvetica, sans-serif;	
}
#popImage {
	position:fixed;
	top:0;
	left:0;
	z-index:2;
	width:100%;
	height:auto;
	display:none;
}
#bkgImage {
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:auto;
}
#wrap {
	float:left;
	position:relative;
	width: 960px;
	min-height:700px; 
	background:#cfcbc4;
	z-index:2;
}

.home #wrap {
	background:transparent;
	border-left:1px solid rgb(64, 60, 53);
	border-right:1px solid rgb(64, 60, 53);
	width:959px;
}
.page-template-play-php #wrap {
	background:transparent;
	border-left:1px solid rgb(64, 60, 53);
	border-right:1px solid rgb(64, 60, 53);
}

/* Header Area 
-----------------------------------------------------------*/
#header {
	float:left;
	margin:0 40px;
	width:880px; height:60px;
	border-bottom:2px solid #403c35;
}
#header a {text-indent:-9999em; outline:0;}
#logo a {
	position:absolute;
	top:540px; left:0;
	display:block;
	width: 291px; height: 105px;
	background:url(images/logo_grey.png);
}
.home #logo a,  
.page-template-play-php #logo a {background:url(images/logo_orange.png);}
#subscribe a {
	display:block;
	width:166px; height:24px;
	background: url(images/subscribe.png) top left no-repeat;
	position:absolute;
	top:0; left:400px;
}
#subscribe a:hover {background: url(images/subscribe.png) bottom left no-repeat;}

#client a {
	display:block;
	width:166px; height:24px;
	background: url(images/client.png) top left no-repeat;
	position:absolute;
	top:0; left:576px;
}
#client a:hover {background: url(images/client.png) bottom left no-repeat;}

#bookmark {
	width:166px; height:24px;
	background: url(images/soc-med.png) top left no-repeat;
	position:absolute;
	top:0; left:752px;
}

#bookmark a.addthis_button {
	display:block;
	width:16px; height:16px;
	position:absolute;
	top:4px; left:125px;
	background: url(images/plus.png) top left no-repeat;
}
#bookmark a.contact {
	display:block;
	width:16px; height:16px;
	position:absolute;
	top:4px; left:143px;
	background: url(images/bubble.png) top left no-repeat;
}
#bookmark a.addthis_button:hover {background: url(images/plus.png) bottom left no-repeat;}
#bookmark a.contact:hover {	background: url(images/bubble.png) bottom left no-repeat;}
/* Main Body Content Area 
-----------------------------------------------------------*/
#main {
	float:left;
	width:960px;
	min-height:613px;
}
.home #main {
	position:relative;
}
#content {
	float: right; 
	width:520px;
	padding:8px 40px 0 0;
}

#content a {color:#403c35;}
#content a:hover {color:#c26529;}
#content p {
	padding:6px 0; 
	font-size:12px; 
	line-height:16px;
}

#content ul, ol {	
	margin: 5px 20px; 
	padding:5px 20px; 
	font-size:13px; 
	line-height:20px;
}
#content h1, #content h2, #content h3, #content h4 { 
	margin:0;
	font-weight:bold;
	font-size:12px; line-height:18px;
}
#content h4 {margin-top:15px;} /* used on contact page for employment */
#content h1 {
	text-transform:uppercase;
}
.attachment-post-thumbnail {margin-bottom:10px;}


/* Style for Home Caption
--------------------------------------------------------------*/

#captionbox {
	top:502px; right:0px;
	width:244px; height:70px;
	color:#FFF;
	font-size:9px; line-height:12px;
	padding:8px 21px 0 9px;
	position:absolute;
	text-transform:uppercase;
	display:none;
	text-align:left;
	background-color: rgba(64, 60, 53, 0.6);
}


/* Style for scroll bar
--------------------------------------------------------------*/
#entry {
	width: 520px; height: 260px; 
	border-top:1px dotted #403c35;
	border-bottom:1px dotted #403c35;
}
.post {
	padding:15px 0;
}
#pane, .listpane { 
	width: 520px; height: 240px; 
	padding:10px 0px 10px 0;
}
.single-team-member #entry {/*shorter scroll areas for team template */
	width: 520px; height: 125px; 
}
.single-team-member #pane { /*shorter scroll areas for team template */
	width: 520px; height: 125px; 
	padding:0;
}
.sroll-bar {clear:both;}
.sroll-bar .jScrollPaneTrack {
	background: url(images/scroll_bg.gif);
	margin: 0;
}
.sroll-bar .jScrollPaneDrag { background: url(images/drag.gif);}
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
	outline:none;
}

.jScrollPaneTrack {
	position: absolute;
	top: 0; right: 0;
}
.jScrollPaneDrag {
	position: absolute;
	cursor: pointer;
	overflow: hidden;
}

/* Team template */
.page-template-team-php #content, .single-team-member #content {padding-top:85px; position:relative;}
.meta {display:block; width:520px; height:135px; clear:both;}
.meta img {float:left; padding: 0 10px 0 0;}
.meta h2 {padding-top:80px; padding-bottom:5px;}
#content .meta p {padding:0; font-size:10px; line-height:12px;}

#content #carousel {height:65px; list-style:none; margin:11px 0 7px; width:430px; overflow:hidden; position:relative;}
#content #carousel ul {height:65px; width:9999px; position:absolute; left:0; top:0; }

#carousel li {
	float:left; 
	padding:25px 10px 0 0;
	font-size:10px;
	line-height:12px;
	position:relative;
	width:78px;
	height:39px;
}

#carousel li a {
	height:39px;
	width:78px;
	overflow:hidden;
	display:block;
	outline:none;
}
#carousel li.active a, #carousel li a:hover {
	height:35px;
	width:78px;
	overflow:hidden;
	border-bottom:4px solid #c26529;
}

#carousel li h4 {
	position:absolute;
	bottom:39px;
	width:78px;
}
#carousel li h4 {font-size:9px; font-weight:normal;}

a#btn_carouselScroll {
	background:url(images/btn_carousel_scroll.png) no-repeat -15px 0;
	width:15px;
	height:23px;
	position:absolute;
	right:110px;
	top:120px;
	overflow:hidden;
	text-indent:-9000px;
	outline:none;
}
a#btn_carouselScroll.reverse { background-position:0 0; }
a#btn_carouselScroll:hover { background-position:-15px -23px; }
a#btn_carouselScroll.reverse:hover  { background-position:0 -23px; }

/* Play template 
------------------------------------------*/
/*body.page-template-play-php {background:#cfcbc4 url(images/play_bg.jpg) 50% 0 repeat-y;}*/
.page-template-play-php #wrap {background:transparent;}

.page-template-play-php #content ul li img {
	border-top: 1px dotted #FFF;
	border-bottom: 1px dotted #FFF;
	padding:10px 0;
}

#content ul {margin:0; padding:0; list-style:none;}
.fade p {color:#FFF; text-transform:uppercase; margin-top:4px;}
.page-template-play-php #content p {font-size:11px; padding:2px 0;} 
/* Work templates */
.page-template-work-php #content {
	padding-top:152px;
}
.page-template-work-php #project-sector-list > li {
	padding-bottom:15px;
	position:relative;
}
.page-template-work-php .project-list {
	border-top:10px solid #403c35;
	display:-moz-inline-stack;
	display:inline-block;
}
.page-template-work-php .project-list li {
	margin-left:3px;
	display:block;
	width:55px;
	height:28px;
	float:left;    
	overflow: hidden;
	/* next two lines: temp fix for project page crowding - Cam 
  width: 49px;*/
}
.page-template-work-php .project-list li.first {
	margin-left:0;
}
.page-template-work-php #project-sector-list h3 {
	font-size:10px;
	line-height:16px;
	text-transform:uppercase;
	padding-left:8px;
}
.page-template-work-php #project-sector-list h3 span {
	text-transform:none;
}

.page-template-work-php .scroller {
	width:519px;
	overflow:hidden;
}
.page-template-work-php a.scrollBtn {
	background:url(images/btn_carousel_scroll_sm.png) no-repeat -9px 0px;
	display:block;
	width:9px;
	height:9px;
	text-indent:-9000px;
	overflow:hidden;
	position:absolute;
	right:-15px;
	top:15px;
}
.page-template-work-php a.scrolled { background-position:0 0; }
.page-template-work-php a.scrollBtn:hover { background-position:-9px -9px; }
.page-template-work-php a.scrolled:hover  { background-position:0px -9px; }

.single-project .meta { border-top:1px dotted #403C35; height:auto; padding-top:5px;}
.single-project #entry { 
	clear:both;
	border-top:none; 
}
.single-project .single-content {
	padding:15px 0 0 0;
	border-bottom:1px dotted #403C35;
}

.single-project #content .meta h2 { float:left; padding:0; text-transform:uppercase; line-height:16px;}
.single-project .meta #project-info-list { float:right; width:342px; font-size:11px;}
.single-project .meta #project-info-list dt {float:left; width:90px;}
.single-project .meta #project-info-list dd {clear:right; margin-left:110px; width:230px; display:block;}
.single-project #content #carousel {margin-top:0;}
.single-project #content {padding-top:0;}
.single-project a#btn_carouselScroll {right:65px; top:25px;}
#project-nav {
	background:#bdb7b3 url(images/project-nav_bg.gif) top left no-repeat;
	clear:both;
	position:relative;
	padding:0px 0 2px 8px;
	border-top:8px solid #bdb7b3;
}
#project-sector-list .project-list a {
	text-decoration:none;
	display:block;
}
#project-sector-list h3 a {
	text-decoration:none;
}
#project-sector-list h3 span.project-name {
	font-weight:normal;
	margin-left:8px;
	color:#c26529;
	display:none;
}
.page-template-work-php .project-list a:hover {
	height:24px;
	overflow:hidden;
	border-bottom:4px solid #c26529;
}
#project-sector-list .active h3 > a, #project-sector-list .project-list .active > a, #project-sector-list a:hover {
	color:#c26529;
}
#project-sector-list a:focus {
	outline:none;
}
#project-nav #project-sector-list {
	padding:3px 0;
}
#project-nav .jScrollPaneContainer {
		position:absolute;
		top:0;
		right:0;
height:168px important!
/*		border-top:1px dotted #403C35;
		border-bottom:1px dotted #403C35;*/
}

#project-nav .listpane {
	width:344px;
	height:162px;
	padding:3px 0;
	line-height:16px;
	visibility:hidden;
	position:absolute;
}
#project-nav .jScrollPaneContainer .listpane {
	display:block;
	visibility:visible;
	position:inherit;
}
#project-nav h3, #project-nav ul { font-size:9px; text-transform:uppercase; font-weight:normal; line-height:16px;}

#gallery {
	background:#bdb7b3 url(images/project-nav_bg.gif) top left no-repeat;
	margin-bottom:10px;
	clear:both;
	position:relative;
}

#gallery .attachment-post-thumbnail {
	margin-bottom:0;
}
#image-content {
	position:relative;
}
#image-content img {
	max-width:520px;
}
.btnMagnify {
	position:absolute;
	top:0; right:0;
	width:16px; height:16px;
	background: url(images/loupe.png) top right no-repeat;
	text-indent:-9000px;
	overflow:hidden;
	z-index:200;
}
#image-content li {
	display:none;
	list-style:none;
	position:relative;
}
#image-content li.active {
	display:block;
}
#image-content a {
	display:block;
}

/* Sidebar and main nav 
------------------------------------------------------*/

#sidebar {
	float:left; 
	width:335px;
}

#sidebar ul {list-style:none;}
#sidebar ul li {
	height:14px; width:180px;
	margin-bottom:18px;
	position:relative;
}
#sidebar ul li a {
	display:block; 
	height:14px; width:140px; 
	text-indent:-9999em; 
	outline:0;
	float:right;
	padding-left:0;
}
#main-nav li a.active {
	padding-left:40px;
}
.home #main-nav li a.active {
	padding-left:0;
}
ul#main-nav {
	position:absolute; 
	top:230px; left:0;
}

#home a {background:#403C35 url(images/nav.png) right 0 no-repeat;}
#home a:hover, #home a.active {background:#403C35 url(images/nav.png) right -14px no-repeat;}
#studio a {background:#403C35 url(images/nav.png) right -28px no-repeat;}
#studio a:hover, #studio a.active {background:#403C35 url(images/nav.png) right -42px no-repeat;}
#work a {background:#403C35 url(images/nav.png) right -56px no-repeat;}
#work a:hover, #work a.active {background:#403C35 url(images/nav.png) right -70px no-repeat;}
#play a {background:#403C35 url(images/nav.png) right -84px no-repeat;}
#play a:hover, #play a.active {background:#403C35 url(images/nav.png) right -98px no-repeat;}
#contact a {background:#403C35 url(images/nav.png) right -112px no-repeat;}
#contact a:hover, #contact a.active {background:#403C35 url(images/nav.png) right -126px no-repeat;}


ul#studio-nav {
	position:absolute; 
	top:262px; left:156px;
}
#overview a {background:url(images/nav.png) 0 -140px no-repeat;}
#overview a:hover, #overview a.active {background:url(images/nav.png) 0 -154px no-repeat;}
#stewardship a {background:url(images/nav.png) 0 -168px no-repeat;}
#stewardship a:hover, #stewardship a.active {background:url(images/nav.png) 0 -182px no-repeat;}
#culture a {background:url(images/nav.png) 0 -196px no-repeat;}
#culture a:hover, #culture a.active {background:url(images/nav.png) 0 -210px no-repeat;}
#team a {background:url(images/nav.png) 0 -224px no-repeat;}
#team a:hover, #team a.active {background:url(images/nav.png) 0 -238px no-repeat;}
#activity a {background:url(images/nav.png) 0 -252px no-repeat;}
#activity a:hover, #activity a.active {background:url(images/nav.png) 0 -266px no-repeat;}

ul#work-nav {
	position:absolute; 
	top:294px; left:156px;
}
#map a {background:url(images/nav.png) 0 -280px no-repeat;}
#map a:hover, #map a.active {background:url(images/nav.png) 0 -294px no-repeat;}
#sector a {background:url(images/nav.png) 0 -336px no-repeat;}
#sector a:hover, #sector a.active {background:url(images/nav.png) 0 -350px no-repeat;}
#dev a {background:url(images/nav.png) 0 -308px no-repeat;}
#dev a:hover, #dev a.active {background:url(images/nav.png) 0 -322px no-repeat;}

#tabs {
	float:right;
	height:25px; 
	background:url(images/tab_bg.png) top right no-repeat;
}

#tabs li {
	float:left;
	list-style:none;
	margin-left:12px;
}

#tabs li a:link, #tabs li a:visited {
	display:block;
	font-size:10px;
	text-transform:uppercase;
	color:#333;
	text-decoration:none;
	padding:6px 10px;
	width:254px; height:13px;
	overflow:hidden;
}

#tabs li a:link span, #tabs li a:visited span {
	text-transform:none;
	text-decoration:underline;
}

#footer {
	position:absolute;
	bottom:-22px;
	left:0;
	width:560px; 
	margin-left:400px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.65);
	border-top:1px dotted #333;
}
.page-template-play-php #footer {
	top:700px;
	height:22px;
	background-color: rgba(255, 255, 255, 0.3);
}

.home #footer {
	display:none;
}
#footer p {	
	text-align: left;
	font-size:11px; 
	padding:3px 5px;
}
#footer a {
	text-decoration:none;
	color:#333;
}

#footer a:hover {
	text-decoration:underline;
}


/* Custom colorbox Styling
------------------------------------------------------*/

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#colorbox {background-color:#fff; }
#cboxOverlay{background-color:#111111; position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto; margin-top:16px;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{
	font-size:10px;
	line-height:12px;
	left:90px;
	margin:0;
	position:absolute;
	text-transform:uppercase;
	top:2px;
}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxPrevious, #cboxNext, #cboxClose{
	background:url(images/sprite_colorbox.png) no-repeat;
	position:absolute;
	top:2px;
	display:block;
	width:14px;
	height:14px;
	overflow:hidden;
	text-indent:-9000px;
}
#cboxPrevious {background-position:0 0; left:6px;}
#cboxNext 		{background-position:-14px 0; left:42px;}
#cboxClose		{background-position:-28px 0; right:4px;}
#cboxPrevious:hover {background-position:0 -14px;}
#cboxNext:hover 		{background-position:-14px -14px;}
#cboxClose:hover		{background-position:-28px -14px;}
#cboxCurrent  {
	position:absolute;
	top:2px;
	left:22px;
	display:block;
	width:20px;
	height:14px;
	font-size:10px;
	text-align:center;
	line-height:12px;
	letter-spacing:.1em;
}